.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.board-width {
    width: 268px;
}

.initial-text-center {
    text-align: center;
    margin-bottom: 5px;
}

.reset-button {
    width: 100%;
    margin-top: 10px
}